<!-- C.2.7. CONTACT US -->

<section class="section" id="section-contact">

    <div class="container">

        <!-- C.2.7.1. Page Title -->

        <section class="section-header">
            <h2>{ hello }</h2>
        </section>

        <!-- C.2.7.2. contact List -->

        <p>so here's where you can find me ... </p>
        <h3>we don't need stuff like email addresses, 
            contact forms, 
            or cell numbers [what's a contact form, gandpa?]</h3>
        
        <p>find me on</p>

        <!-- C.2.0.4. SOCIAL MEDIA -->

        <ul class="social-media">
        
            <li><a href="http://www.facebook.com/kdee15">
                <figure class="facebook icon">{% include icons/icon--facebook.html %}</figure>
                </a>
            </li>
        
            <li><a href="http://www.twitter.com/kdee15">
                <figure class="twitter icon">{% include icons/icon--twitter.html %}</figure>
                </a>
            </li>
        
            <li><a href="https://za.linkedin.com/in/kirk-daniels-6049a61">
                <figure class="linkedin icon">{% include icons/icon--linkedin.html %}</figure>
                </a>
            </li>

        </ul>
        
    </div>                 

</section>

<!-- C.2.7. END -->