<!-- C.2.0. WE ARE DIFFERENT -->

<div class="wrap-content">

    <!-- C.2.0.2. Company Logo -->

    <figure class="figure-logo">{% include icons/logo.html %}</figure>

    <!-- C.2.0.1. Page Title -->

    <section class="section-header" id="box1">
        <h2>kirk daniels</h2>
        <h1>{ frontend developer }</h1>
    </section>

    <!-- C.2.0.4. SOCIAL MEDIA -->

    <ul class="social-media">

        <li><a href="http://www.facebook.com/kdee15">
            <figure class="facebook icon">{% include icons/icon--facebook.html %}</figure>
            </a>
        </li>

        <li><a href="http://www.twitter.com/kdee15">
            <figure class="twitter icon">{% include icons/icon--twitter.html %}</figure>
            </a>
        </li>

        <li><a href="https://za.linkedin.com/in/kirk-daniels-6049a61">
            <figure class="linkedin icon">{% include icons/icon--linkedin.html %}</figure>
            </a>
        </li>

    </ul>

</div>

<!-- C.2.0. END -->  