<div class="container">

    <div class="grid has-gutter">

            <p class="one-quarter grid-item mobi"><span class="heading">Web based</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan magna ac erat facilisis, luctus efficitur felis pulvinar. Mauris ut volutpat urna, nec malesuada odio. Nullam accumsan diam magna, eget placerat turpis hendrerit id. Morbi gravida sagittis nibh. Praesent interdum malesuada mi, quis pulvinar arcu porttitor id. Donec non vulputate tellus.</p>

            <p class="one-quarter grid-item mobi"><span class="heading">Performance</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan magna ac erat facilisis, luctus efficitur felis pulvinar. Mauris ut volutpat urna, nec malesuada odio. Nullam accumsan diam magna, eget placerat turpis hendrerit id. Morbi gravida sagittis nibh. Praesent interdum malesuada mi, quis pulvinar arcu porttitor id. Donec non vulputate tellus.</p>

            <p class="one-quarter grid-item mobi"><span class="heading">Cultural</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan magna ac erat facilisis, luctus efficitur felis pulvinar. Mauris ut volutpat urna, nec malesuada odio. Nullam accumsan diam magna, eget placerat turpis hendrerit id. Morbi gravida sagittis nibh. Praesent interdum malesuada mi, quis pulvinar arcu porttitor id. Donec non vulputate tellus.</p>

            <p class="one-quarter grid-item mobi"><span class="heading">Sustainability</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan magna ac erat facilisis, luctus efficitur felis pulvinar. Mauris ut volutpat urna, nec malesuada odio. Nullam accumsan diam magna, eget placerat turpis hendrerit id. Morbi gravida sagittis nibh. Praesent interdum malesuada mi, quis pulvinar arcu porttitor id. Donec non vulputate tellus.</p>

    </div>

</div>