<div class="container">

    <section class="grid">

        <aside class="one-half mobi links">
            
            <p><strong>Get in touch</strong></p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus interdum, nulla sed ullamcorper dignissim, lacus massa lacinia diam, a cursus mauris lorem et velit. Aliquam porttitor ut ante quis consequat. Duis ut placerat eros. Vestibulum efficitur tincidunt magna, sed tristique urna tincidunt vel.
            </p>
            
            <ul class="third">
                <li class="header">Resources</li>
                <li>Tour</li>
                <li>Customers</li>
                <li>Pricing and plans</li>
                <li>New features</li>
                <li>Education</li>
            </ul>

            <ul class="third">
                <li class="header">Features</li>
                <li>Tour</li>
                <li>Customers</li>
                <li>Pricing and plans</li>
                <li>New features</li>
                <li>Education</li>
            </ul>

            <ul class="third">
                <li class="header">How To's</li>
                <li>Tour</li>
                <li>Customers</li>
                <li>Pricing and plans</li>
                <li>New features</li>
                <li>Education</li>
            </ul>


        </aside>
        
        <aside class="one-half mobi search">
        
            <p>Stay in touch</p>
            

            <div class="field-item text">
                <input type="text" placeholder="Email">
            </div>
            
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        
        </aside>

    </section>

</div>