<div class="container">

    <section class="grid">

        <aside class="one-half mobi links">
            <ul class="half">
                <li class="header">Services</li>
                <li>Careers / Join us</li>
                <li>Pension Transfer</li>
                <li>Protected Pensions</li>
                <li>Pension Release over 55</li>
                <li>Annuities and Drawdown</li>
            </ul>

            <ul class="half">
                <li class="header">Information</li>
                <li>About Us</li>
                <li>Privacy Policy</li>
                <li>Terms of Use</li>
                <li>Financial Conduct Authority</li>
                <li>Sitemap</li>
            </ul>

            <span>
                Portal Financial Services LLP is authorised and regulated by the Financial Conduct Authority, company number 501272 Portal Financial Services LLP is a limited liability partnership, registered in England and Wales. Number OC344297 Registered Office: Affinity House, Beaufort Court, Medway City Estate, Rochester, Kent, ME2 4FD | Phone: 0845 555 0600
            </span>
            <p>© 2016 Portafina. All rights reserved. A Better Experience by Lab</p>

        </aside>
        <aside class="one-quarter mobi social-media">
            <img class="figure__img" src="assets/images/social-media.png" alt="social media" />
        </aside>
        <figure class="one-quarter mobi logo">
            <img class="figure__img" src="assets/images/logo-footer.png" alt="portafina" />
        </figure>

    </section>

</div>