<div class="container">

    <div class="grid">

        <!-- C.2.2.1. CONTACT AREA -->

        <aside class="left__aside one-half mobi">
            
            <div class="wrapper">
            
                <h2>Start something new</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan magna ac erat facilisis, luctus efficitur felis pulvinar. Mauris ut volutpat urna, nec malesuada odio.</p>

                <p>Nullam accumsan diam magna, eget placerat turpis hendrerit id. Morbi gravida sagittis nibh. Praesent interdum malesuada mi, quis pulvinar arcu porttitor id. Donec non vulputate tellus.</p>

                <p>Donec non vulputate tellus. Duis vulputate placerat aliquet. Phasellus in tellus nisl.</p>

            </div>
            
        </aside>
        <!-- C.2.2.2. CONTACT SIDE -->

        <aside class="right__aside one-half mobi">
            
            <div class="wrapper">

                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean pretium imperdiet libero et iaculis. Donec urna sem, posuere vel leo at, vestibulum condimentum ante.</p>

                <p>Integer placerat nibh ut pretium facilisis. Sed vel dolor eu erat vulputate hendrerit ut id nibh. Vestibulum tempus nisi eget interdum vulputate. Morbi sed tellus at justo vestibulum auctor.</p>
                
                <a ui-sref="slide" class="single blue button">Come see my slider</a>
                
            </div>    

        </aside>

    </div>

</div>