<div class="squares grid">
    
    <figure class="one-half">
        <img class="figure__img" id="pic-1" src="assets/images/1.png" />
        <img class="figure__img" id="pic-2" src="assets/images/2.png" />
    </figure>

    
    <figure class="one-half">
        <img class="figure__img" id="pic-5" src="assets/images/5.png" />
        <img class="figure__img" id="pic-6" src="assets/images/6.png" />
    </figure>
    
    <figure class="one-half">
        <img class="figure__img" id="pic-3" src="assets/images/3.png" />
        <img class="figure__img" id="pic-4" src="assets/images/4.png" />
    </figure>

    
    <figure class="one-half">
        <img class="figure__img" id="pic-7" src="assets/images/7.png" />
        <img class="figure__img" id="pic-8" src="assets/images/8.png" />
    </figure>


</div>