<div class="squares grid">
    
    <figure class="one-half">
        <img class="figure__img" src="assets/images/1.png" />
        <img class="figure__img" src="assets/images/2.png" />
    </figure>

    
    <figure class="one-half">
        <img class="figure__img" src="assets/images/5.png" />
        <img class="figure__img" src="assets/images/6.png" />
    </figure>
    
    <figure class="one-half">
        <img class="figure__img" src="assets/images/3.png" />
        <img class="figure__img" src="assets/images/4.png" />
    </figure>

    
    <figure class="one-half">
        <img class="figure__img" src="assets/images/7.png" />
        <img class="figure__img" src="assets/images/8.png" />
    </figure>


</div>