// CONFIGURATION LAYER [FONTS & STACKS] ##############################################
		
		
	// B. FONT STACKS ++++++++++++++++++++++++++++++++++++++++++++++++

		// B.1 Helvetica Font Stack
		$roboto: 	'Roboto', Helvetica, Arial, sans-serif;

	// C. FONT SETUP ++++++++++++++++++++++++++++++++++++++++++++++++

		$base-font:			$roboto; // Change your default font type.
		$base-size: 		16px; 		// Choose your base font size. I like 16px and Relative Readability.
		$baseline: 			24px; 		// Choose your Line Height.
		
	// D. FONT SIZING ++++++++++++++++++++++++++++++++++++++++++++++++
	


// END OF FILE  ##############################################