// OBJECT: FLEXIGRID  #################################################################################################

// DESCRIPTION:
//
// This object provides a flexbox based responsive grid system.
//

// USAGE:
//
// COMING SOON.
//

// DOCUMENTATION URL:
// 
// COMING SOON. Please refer to the usage above. 
//

@if $object--flexigrid == true {

// A. DEFAULT SETUP +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // A.1. GRID CONTAINER --------------------------------------------------------------------------------------------
    
    .grid {
    
        display: flex;
        flex-wrap: wrap;
        
        list-style: none;
        margin: 0;
        padding: 0;
    
    }
    
    // A.1. END -------------------------------------------------------------------------------------------------------
    
    // A.2. GRID ITEM -------------------------------------------------------------------------------------------------
    
    .grid__item {

        flex: 1;
        box-sizing: border-box;
        transition: 0.3s;

    }
    
    // A.2. END -------------------------------------------------------------------------------------------------------
    
    // A.3. GUTTERS ---------------------------------------------------------------------------------------------------
    
    // A.3.1. NORMAL GUTTER
    
    .grid__gutter {
    
        margin-left: -$baseline;
        
        .grid__item {
        
            padding-left: $baseline;
        
        }
    
    }
    
    // A.3.1. END
    
    // A.3.2. LARGE GUTTER
    
    .grid__gutter-large {
    
        margin-left: -$baseline*2;
        
        .grid__item {
        
            padding-left: $baseline*2;
        
        }
    
    }
    
    // A.3.2. END
    
    // A.3.3. SMALL GUTTER
    
    .grid__gutter-small {
    
        margin-left: -$baseline/2;
        
        .grid__item {
        
            padding-left: $baseline/2;
        
        }
    
    }
    
    // A.3.3. END
    
    // A.3. END -------------------------------------------------------------------------------------------------------
    
    // A.3. GRID SIZES ------------------------------------------------------------------------------------------------
    
    @include flexigrid-size();
    
    // A.3. END -------------------------------------------------------------------------------------------------------
    
    // A.4. GRID SIZES WITH BREAKPOINTS -------------------------------------------------------------------------------
    
    @each $name in $breakpoint-types {

        @include media-query($name) {

           @include flexigrid-size('#{$name}--');

        }

    }
    
    // A.4. END -------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}
    
// FOUND A BUG?:
// If you found a bug or something is broken, please do
// me a favour and log it over at: https://github.com/konstruct/konstruct.bricks/issues

// END OF FILE ########################################################################################################