// OBJECT: FORMS  #####################################################################################################

// DESCRIPTION:
//
// Core forms styling. Just setting proper defaults and making nice.
//

// USAGE:
//
// I got nothing for this yet. Sorry. Be with you shortly.
//

// DOCUMENTATION URL:
// 
// COMING SOON. Please refer to the usage above. 
//

@if $object--forms == true {

// A. BASIC FORM ELEMENTS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    form {

        // A.1. FORM LABELS -------------------------------------------------------------------------------------------

        label { 
            width: 95%;
            line-height: $baseline; 
            display: block; 
        }

        // A.1. END ---------------------------------------------------------------------------------------------------

        // A.2. INPUTS ------------------------------------------------------------------------------------------------

        input[type="text"],
        input[type="password"],
        input[type="select"],
        input[type="search"] {
            width: 90%; 
            margin-bottom: 0px; 
            display: block; 
            padding: $baseline / 2;
        }

        // A.2. END ---------------------------------------------------------------------------------------------------

        // A.3. TEXTAREA ----------------------------------------------------------------------------------------------

        textarea {
            padding: $baseline / 2;
            width: 90%; 
            height: 200px;
            line-height: $baseline; 
            margin-bottom: 5px; 
            display: block; 
            clear: left; 
            overflow: auto; 
        }

        // A.3. END ---------------------------------------------------------------------------------------------------

        // A.4. RADIO & CHECKBOXES ------------------------------------------------------------------------------------

        input[type="radio"],
        input[type="checkbox"] { 
            margin: 0px $baseline / 3 0px $baseline / 2;
            display: inline-block;
        }

        // A.4. END ---------------------------------------------------------------------------------------------------

        // A.5. SPECIFIC OVERRIDES ------------------------------------------------------------------------------------

        input[type="file"] { 
            margin: 0px 6px 3px 6px;
        }

        input[type="submit"],
        input[type="reset"],
        input[type="button"] { 
            position: relative;
            top: 5px; 
            margin-bottom: 24px; 
        }

        legend	{ 
            padding-bottom: 24px; 
        }

        // A.5. END ---------------------------------------------------------------------------------------------------

    }

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. ENHANCED FORM ELEMENTS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    form {

        margin-bottom: $baseline;

        // B.1. RADIO & CHECKBOXES ------------------------------------------------------------------------------------

        .radio,
        .checkbox {
            padding: 0 0 0 0!important;

            ul {
                @include list(vertical, left);
                margin-bottom: -1px!important;
            }
        }

        // B.1. END ---------------------------------------------------------------------------------------------------

        // B.2. FIELD ITEMS -------------------------------------------------------------------------------------------

        .field-item {
            margin-bottom: $baseline;
            padding: 0 0 2px 0;

            // B.1.1. Text Fields
            input, textarea {

            }

        }

        // B.2. END ---------------------------------------------------------------------------------------------------

        // B.3. INPUTS ------------------------------------------------------------------------------------------------

        input {

            border: solid 1px $grayLight;

        }

        // B.3. END ---------------------------------------------------------------------------------------------------

        // B.4. TEXTAREA ----------------------------------------------------------------------------------------------

        .textarea {

            margin-bottom: $baseline - 1px;

        }

        // B.4. END ---------------------------------------------------------------------------------------------------

    }

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. FORM ORIENTATIONS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		
    form {

        // C.1. STACKED FORMS -----------------------------------------------------------------------------------------

        &.stacked {

            label {
                display: block;
            }

            .radio, .checkbox {
                label {
                    display: inline-block;
                }
            }

        }

        // C.1. END ---------------------------------------------------------------------------------------------------

        // C.2. INLINE FORMS ------------------------------------------------------------------------------------------

        &.inline {

            label {

                display: inline-block;
                width: 150px;
                line-height: $baseline;

            }

        }

        // C.2. END ---------------------------------------------------------------------------------------------------

    }

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do
// me a favour and log it over at: https://github.com/konstruct/konstruct.bricks/issues

// END OF FILE ########################################################################################################