// 0. CONFIG [ 0.1. VARIABLES ]  ######################################################################################

// A. FONT STACKS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@font-face {
    
    font-family: 'SSPro-semibold';
    
    src: url('../fonts/-SourceSansPro-Semibold.otf');
    
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    
    font-family: 'ssp-light';
    
    src: url('../fonts/-SourceSansPro-Light.otf');
    
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    
    font-family: 'Roboto-thin';
    
    src: url('../fonts/-Roboto-Thin.ttf');
    
    font-weight: normal;
    font-style: normal;
    
}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################