// 0. CONFIG [ 0.1. VARIABLES ]  ######################################################################################
// A. BRAND COLOR VARIABLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

$kd-blue:           #42C2F3;
$kd-blueDark:       #3A5181;
$kd-blueLight:      #4A90E2;
$kd-blueNavy:       #1A3A67;
$kd-burgundy:       #AF2048;
$kd-cyan:           #87D1D7;
$kd-gold:           #E4D23A;
$kd-goldDark:       #D3AD53;
$kd-greenEmerald:   #007054;
$kd-greenEver:      #66A042;
$kd-greenLight:     #4CC276;
$kd-green:          #009688;
$kd-olive:          #7E6F2C;
$kd-lime:           #9BC85A;
$kd-maroon:         #EE3380;
$kd-maroonDark:     #C12F30;
$kd-mint:           #50E3C2;
$kd-mintDark:       #3BBDB3;
$kd-orange:         #F5A623;
$kd-purple:         #9013FE;
$kd-red:            #FF625F;
$kd-redDark:        #D0021B;
$kd-yellow:         #F8E43F;
$kd-yellowMid:      #F9BC45;
$kd-yellowDark:     #F6B946;


$kd-grey90:         #333333;
$kd-grey80:         #555555;
$kd-grey70:         #777777;
$kd-grey60:         #999999;
$kd-grey50:         #AAAAAA;
$kd-grey40:         #BBBBBB;
$kd-grey30:         #CCCCCC;
$kd-grey20:         #DDDDDD;
$kd-grey10:         #EEEEEE;

	$bob-blue:    	#1B9EE0;
	$bob-grey:		#E2E2E2;

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. TYPOGRAPHY WEIGHT VARIABLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// The variables below are based on the default $baseline -
// which is set in Konstruct/config/config--typography

$book:          400;
$bold:          700;

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. MARGIN VARIABLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// The variables below are based on the default $baseline -
// which is set in Konstruct/config/config--typography

$baseline-large:    $baseline*4;
$baseline-medium:   $baseline*2;
$baseline-small:    $baseline/2;
$baseline-smaller:    $baseline/4;

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. FONT STACKS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

$futura:            "futura-pt", "Helvetica";



		$xxx-large:			4em; 		// 32px
		$xx-large:			2em; 		// 32px
		$x-large:			1.7em; 		// 32px
		$large:				1.5em; 		// 24px
		$medium:			1.125em; 	// 18px
		$normal:			1em; 		// 16px
		$small:				0.75em; 	// 12px
		$x-small:			0.625em; 	// 10px

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################