// 1. OBJECT [ 1.2. MIXINS ]  #########################################################################################

// A. LINK HOVER MIXIN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


@mixin hover-effect() {

    transition: all 0.3s;

}

@mixin hover-off ($speed, $delay) {

    transition: all $speed;
    transition-delay: $delay;

}

@mixin hover-on ($speed, $delay) {

    transition: all $speed;
    transition-delay: $delay;

}

@mixin source-light () {
    
    font-family: source-serif-pro, arial, sans-serif;   
    
}

@mixin libre-header () {
    
    font-family: averia-libre, arial, sans-serif;   
    
}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C.1. ABSOLUTE EQUAL SIDES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@mixin absolute ($padding) {
    
    position: absolute;
    top: $padding;
    right: $padding;
    bottom: $padding;
    left: $padding;
    
}

// C.1. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C.2. POSITION EQUAL SIDES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@mixin position ($position, $padding) {
    
    position: $position;
    top: $padding;
    right: $padding;
    bottom: $padding;
    left: $padding;
    
}

// C.2. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. VERTICAL ALIGN MIXIN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // WHAT IT DOES: This will vertically align an object inside of a container.

    // USAGE: Add "@include vertical-align(absolute);" into the desired class. You can choose your position element.

    // B.1. Vertical Align --------------------------------------------------------------------------------------------

    @mixin vertical-align($position){

        position: $position;
        top: 50%;
        transform: translateY(-50%);

    }

    // B.1. END -------------------------------------------------------------------------------------------------------

    // B.2. Vertical Align --------------------------------------------------------------------------------------------



    // B.2. END -------------------------------------------------------------------------------------------------------

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. ASPECT RATIO ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@mixin aspect-ratio ($width, $aspect){

    position: relative; 
    width: $width;

    &:before {

    content: ""; 
    display: block; 
    padding-top: $aspect;

    }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. BORDERS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// F. ICONS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// F.1. ICONS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// F.1.1. ICON SETTINGS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @mixin icon ($width, $height, $color) {

        margin: 0;
        padding: 0;


        svg {

            width: $width;
            height: $height;

            polygon,
            circle,
            rect,
            path {

                fill: $color;

            }
        }
    }

// F.1.1. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// F.1.2. ICON COLOUR +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @mixin icon-color ($color) {

        margin: 0;
        padding: 0;

        svg {

            polygon,
            circle,
            rect,
            path {
                fill: $color;
            }
        }
    }

// F.1.2. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// F.1.3. ICON WIDTH ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @mixin icon-width ($width, $height) {

        margin: 0;
        padding: 0;

        svg {

            width: $width;
            height: $height;

        }
    }

// F.1.3. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// F.1.4. INLINE ICON +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @mixin inline-icon ($width, $height) {

        width: $width;
        height: $height;
        margin: 0;
        padding: 0;
        position: relative;
        display: inline-block;

        svg {

            @include position (absolute, 0);

        }
    }

// F.1.4. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// F.1. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// F. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################