// 1. OBJECT [ 1.9. GRID ]  ###########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.grid {
    
    // A.1. WHOLE -----------------------------------------------------------------------------------------------------

    .one-whole {
        
        @extend .grid__item;
        @extend .one-whole;

    }
    
    // A.1. END -------------------------------------------------------------------------------------------------------
        
    // A.2. HALF ------------------------------------------------------------------------------------------------------

    .one-half {
        
        @extend .grid__item;
        @extend .one-half;
        
        &.mobi {
        
            @extend .feature--one-whole;
            @extend .mobile--one-whole;
            
        }
    }
    
    // A.2. END -------------------------------------------------------------------------------------------------------
            
    // A.3. THIRD -----------------------------------------------------------------------------------------------------

    .one-third {
        
        @extend .grid__item;
        @extend .one-third;
        
        &.mobi {
        
            @extend .feature--one-whole;
            @extend .mobile--one-whole;
            
        }
    }
    
    // A.3. END -------------------------------------------------------------------------------------------------------
                
    // A.4. QUARTER ---------------------------------------------------------------------------------------------------

    .one-quarter {
        
        @extend .grid__item;
        @extend .one-quarter;
        
        &.mobi {
        
            @extend .desk--one-half;
            @extend .feature--one-whole;
            @extend .mobile--one-whole;
            
        }
    }
    
    // A.3. END -------------------------------------------------------------------------------------------------------
    
}
// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {


.grid {
    
    // A.0. GRID HALF -------------------------------------------------------------------------------------------------
    
    &.half {
        
        li {
            
            &:first-child {

                a { margin-right: $baseline/4; }
            }

            &:last-child {

                a { margin-left: $baseline/4; }
            }
        }
    }
    
    // A.0. END -------------------------------------------------------------------------------------------------------  

}
    
    
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

.grid {
    
    // A.0. GRID HALF -------------------------------------------------------------------------------------------------
    
    &.half {
        
        li {
            
            &:first-child {

                a { margin-right: $baseline-small; }
            }

            &:last-child {

                a { margin-left: $baseline-small; }
            }
        }
    }
    
    // A.0. END -------------------------------------------------------------------------------------------------------
} 

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {
    
    // A.0. GRID HALF -------------------------------------------------------------------------------------------------
    
    &.half {
        
        li {
            
            &:first-child {

                a { margin-right: $baseline-small; }
            }

            &:last-child {

                a { margin-left: $baseline-small; }
            }
        }
    }
    
    // A.0. END -------------------------------------------------------------------------------------------------------
    
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {
    
    // A.0. GRID HALF -------------------------------------------------------------------------------------------------
    
    &.half {
        
        li {
            
            &:first-child {

                a { margin-left: $baseline-small; }
            }

            &:last-child {

                a { margin-right: $baseline-small; }
            }
        }
    }
    
    // A.0. END -------------------------------------------------------------------------------------------------------
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {
    
    // A.0. GRID HALF -------------------------------------------------------------------------------------------------
    
    &.half {
        
        li {
            
            &:first-child {

                a { margin-left: $baseline-small; }
            }

            &:last-child {

                a { margin-right: $baseline-small; }
            }
        }
    }
    
    // A.0. END -------------------------------------------------------------------------------------------------------
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################