// 1. OBJECT [ 1.0. GENERAL ]  ########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. STRUCTURE -----------------------------------------------------------------------------------------------------

html { font-weight: 300; }

// A.1. GENERAL SETUP

html, body, #mast, .section-home, .container { height: 100%; }

body { }

// A.1. END

// A.2. TYPOGRAPHY SETUP

h4, h6, ul, li, p { @include source-light(); }
h1, h2 { @include libre-header(); }
h3.big-title { text-transform: uppercase; }
p { font-size: $medium; }

// A.2. END

// A.1.2. SECTIONS

.section { padding: 0; margin: 0; }

// A.1. END -----------------------------------------------------------------------------------------------------------

// A.2. CONTENT -------------------------------------------------------------------------------------------------------

// A.2. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {
    
    // E.1. Body backgrouind size
    
    body { background-size: auto 100%; }
    
    // E.1. END

    // E.2. HIDE ON PHONES
    .no-mobile, .no-mobile-inline { display: none; }

    // A.1.5. END
    
    // A.1.6. HEADERS

    h1, h2 { font-size: 33px; }

    h1 { margin: 0 0 0 0; }
    
    // A.1.6. END
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {
    
    // E.1. Body backgrouind size
    
    body { background-size: auto 100%; }
    
    // E.1. END

    // E.2. HIDE ON PHONES

    .no-mobile, .no-mobile-inline { display: none; }

    // A.1.5. END
    
    // A.1.6. HEADERS

    h1, h2 { font-size: 33px; }

    h1 { margin: 0 0 0 0; }
    
    // A.1.6. END

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {
    
    // E.1. Body backgrouind size
    
    body { background-size: auto 100%; }
    
    // E.1. END

    // E.2. HIDE ON PHONES

    .no-mobile { display: block; }
    .no-mobile-inline { display: flex; }

    // E.2. END
    
    // A.1.6. HEADERS

    h1, h2 { font-size: 45px; }
    
    // A.1.6. END
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {
    
    // E.1. Body backgrouind size
    
    body { background-size: 100% auto; }
    
    // E.1. END

    // E.2. HIDE ON PHONES

    .no-mobile { display: block; }
    .no-mobile-inline { display: flex; }

    // E.2. END
    
    // A.1.6. HEADERS

    h1, h2 { font-size: 45px; }
    
    // A.1.6. END
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {
    
    // E.1. Body backgrouind size
    
    body { background-size: 100% auto; }
    
    // E.1. END

    // E.2. HIDE ON PHONES

    .no-mobile { display: block; }
    .no-mobile-inline { display: flex; }

    // E.2. END
    
    // E.3. HEADERS

    h1, h2 { font-size: 45px; }
    
    // E.3. END
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################