// 1. OBJECT [ 1.8. CARDS ] ###########################################################################################

// ====== INDEX  ======================================================================================================
// ==
// == A.1. GENERAL STYLES
// == A.2. CAROUSEL CARDS
// == A.3. CARD ELEMENTS
// ==
// ====== INDEX  ======================================================================================================

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. GENERAL CARDS -------------------------------------------------------------------------------------------------

.card {
    
    // A.1.1. SOCIAL MEDIA --------------------------------------------------------------------------------------------

    &.image {
        
        @include aspect-ratio (98%, 76.4%);
        margin: 0 auto;
        display: block;
        margin-bottom: $baseline;
        overflow: hidden;
        
        .background { @include position (absolute, 0); padding: 0; margin: 0; z-index: 0; overflow: hidden;
            .bg { width: 100%; height: auto; top: 0; }
        
        }
        
        .card__body {
            
            @include position (absolute, 0); 
            z-index: 1; 
            background: rgba($black,0.7); 
            transition: 0.5s;
        
            h2 {
                background: rgba($black,0.8);
                margin: 0;
                padding: $baseline;
                display: block;
                color: $white;
            }
            
            p { 
                margin: 0;
                padding: $baseline;
                display: block;
                font-size: $normal;
                color: $white;
            }
        }
        
        &:hover { .card__body { transform: translateY(-100%); transition: 0.5s; }}
    }
    
    // A.1.4. END -----------------------------------------------------------------------------------------------------
   
}

// A.1. END -----------------------------------------------------------------------------------------------------------

// A.2. CAROUSEL CARDS ------------------------------------------------------------------------------------------------


// A.2. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) { }

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) { }

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) { }

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) { }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) { }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################