// 1. OBJECT [ 1.8.3. CARD: BIG ] #####################################################################################

// ====== INDEX  ======================================================================================================
// ==
// == A.1. GENERAL STYLES
// == A.2. CAROUSEL CARDS
// == A.3. CARD ELEMENTS
// ==
// ====== INDEX  ======================================================================================================

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. GENERAL CARDS -------------------------------------------------------------------------------------------------

.card {

    // A.1.4. BIG CARD ------------------------------------------------------------------------------------------------
    
    &.big {
        
        background: $kd-grey20;
        border-radius: 5px;
        display: inline-block;
        position: relative;
        
        span,
        p {
            
            white-space: normal;
            
        }
        
    }
    
    // A.1.4. END ----------------------------------------------------------------------------------------------------- 
    
}

// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {

    .card {

        &.big {
            
        }
    }
    
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {
    
    .card {

        &.big {
            
        }
    }

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {
    
    .card {

        &.big {

            .card__header {
                
                .lesson-detail {
                    
                    .inner { font-size: $small; line-height: normal; }   
                    
                }
            }
        } 
    }
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################