// 1. OBJECT [ 1.8.4. CARD: LONG ] ####################################################################################

// ====== INDEX  ======================================================================================================
// ==
// == A. GENERAL STYLES
// == B. MEDIA QUERIES
// ==
// ====== INDEX  ======================================================================================================

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.card {

    &.long {
        
        margin-bottom: 4px;

        .card__header {
            
            overflow: hidden;
            padding: 0;
            background: $white;
            
            .icon {

                @extend .desk--one-tenth;
                @extend .desk-wide--one-tenth;
                @include icon (40px, 40px, $white);
                position: relative;
                padding: $baseline-small 0;
                transform: skewX(-30deg);
                
                &:after {
                    
                    @include position (absolute, 0);
                    content: '';
                    transform: translateX(-98%);
                    z-index: -1;
                    
                }

                .discipline { 
                    
                    transform: skewX(30deg);
                }
            }

            .lesson-detail {
                
                @extend .grid__item;
                @extend .nine-tenths;
                @extend .mobile--three-quarters;
                @extend .feature--three-quarters;
                position: relative;
                text-align: left;
                
                .inner {
                    
                    @include vertical-align (absolute);
                    left: 35px;
                    right: $baseline-small;
                    white-space: normal;
                    color: $kd-grey90;
                }
            }
        }
        
        .card__body {
            
            padding: $baseline-small;
            box-sizing: border-box;
            
            h6 {
                
                color: $kd-grey90;
                line-height: normal;
                text-transform: capitalize;
                
            }
        }


// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

        // B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

        @include media-query(feature) {

            .card__header {
                
                .icon {
                    
                    .discipline {
                        
                        //margin: 0 $baseline-small;
                        margin-left: 7px;
                        
                    }
                }
            }

        }

        // B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

        // C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

        @include media-query(mobile) {

            .card__header {
                
                .icon {
                    
                    .discipline {
                        
                        margin: 0 $baseline-small;
                        margin-left: $baseline-small;
                        
                    }
                }
            }
            
        }

        // C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

        // D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

        @include media-query(tablet) {

            .card__header {
                
                .icon {
                    
                    .discipline {
                        
                        margin: 0 $baseline-small;
                        margin-left: $baseline-small;
                        
                    }
                }
            }
            
        }

        // D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

        // E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

        @include media-query(desk) {

            .card__header {
                
                .icon {
                    
                    .discipline {
                        
                        margin: 0 $baseline-small;
                        margin-left: $baseline;
                        
                    }
                }
            }
            
        }

        // E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

        // E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

        @include media-query(desk-wide) {

            .card__header {
                
                .icon {
                    
                    text-align: center;
                    
                    .discipline {
                        
                        margin: 0 $baseline-small;
                        margin-right: $baseline;
                        
                    }
                }
            }
            
        }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    }
}

// END OF FILE ########################################################################################################