// 1. OBJECT [ 1.8.2. CARD: MEDIUM ] ##################################################################################

// ====== INDEX  ======================================================================================================
// ==
// == A.1. GENERAL STYLES
// == A.2. CAROUSEL CARDS
// == A.3. CARD ELEMENTS
// ==
// ====== INDEX  ======================================================================================================

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. GENERAL CARDS -------------------------------------------------------------------------------------------------

.card {

    // A.1.5. MEDIUM CARD ---------------------------------------------------------------------------------------------
    
    &.medium {
        
        a { display: block; margin: 4px; }
        
        .card__header {
            
            .icon { 

                @include icon (50px, 50px, $white);
                position: relative;
                padding: $baseline-small 0;
                text-align: center;

            }
        }
        
        .card__body {
            
            background: $white;

            .title {

                text-align: center;
                color: $kd-grey80;
                font-size: $small;
                padding: $baseline-small 0;

                &:hover { color: $kd-grey80; }

            }
        }
    }
    
    // A.1.5. END ----------------------------------------------------------------------------------------------------- 
    
}



// A.1. END -----------------------------------------------------------------------------------------------------------


// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {


}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {
    
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################