// 1. OBJECT [ 1.7. ICONS ] ###########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.icon {
    
    @include icon (auto, 100%, $kd-grey30);
    
}

.icon__bg-none {
    
    fill: none;
    
}

// A.1. ICONS ---------------------------------------------------------------------------------------------------------

// A.1.1. LEFT --------------------------------------------------------------------------------------------------------

.icon-left {

    display: inline-block;
    @include icon (100%, 100%, $white);
    vertical-align: middle;
}

// A.1.1. END ---------------------------------------------------------------------------------------------------------

// A.1.1. RIGHT -------------------------------------------------------------------------------------------------------

.icon-right {

    @include icon (100%, 100%, $white);
    float: right; 
}

// A.1.1. END ---------------------------------------------------------------------------------------------------------

// A.1.2. THUMB -------------------------------------------------------------------------------------------------------

.icon-thumb {
    
    text-align: center;
    display: block;
    margin: 0;
    
    span {
        color: $kd-grey50;
    }
    
    .icon {
        
        @include icon (100%, 100%, $kd-grey50);   
        
    }
}

// A.1.2. END ---------------------------------------------------------------------------------------------------------

// A.1.3. IMAGE ICON --------------------------------------------------------------------------------------------------

.photo {
    
    margin: 0 auto;
    display: block;

    &.image {
        
        overflow: hidden;
        width: 100px;
        height: 100px;
        
        
        img {
            
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            border-radius: 100%;
            
        }
    }
}

// A.1.3. END ---------------------------------------------------------------------------------------------------------

// A.1.4. SOCIAL MEDIA ------------------------------------------------------------------------------------------------

// A.1.4.1 FACEBOOK

.fb {
    
    background: $white;
    border-radius: 100%;
    
    .icon {
        
        @include icon (40px, 40px, $blueDark);
        margin-bottom: -3px;
        
    }
}

// A.1.4.1 END

// A.1.4.2 GOOGLE+

.google {
    
    background: $white;
    border-radius: 100%;
    
    .icon {
        
        @include icon (40px, 40px, $red);
        margin-bottom: -3px;
        
    }
}

// A.1.4.2 END
// A.1.4. END ---------------------------------------------------------------------------------------------------------

// A.1. END -----------------------------------------------------------------------------------------------------------


.tabs {
    
    .tabs__header {
        
        @extend .grid;
        
        li {
        
            @extend .grid__item;
            @extend .one-half;
        
        }
        
        a {
        
            display: block!important;
            background: $white;
            padding: $baseline-small!important;
            text-align: center;
            border-bottom: solid 6px $white;
            @include hover-effect();
        
            &.active {
            
                @include hover-effect();
            
            }
            
        }
    
    }

    
    .tabs__content {
    
        margin: $baseline-small;
        
        ul {
        
            @include list(vertical, left);
        
        }
        
        .list-link {
        
            padding: $baseline $baseline-small!important;
            
            .icon {
            
                margin: 0 $baseline-small 0 0;
                
                display: inline-block;
                vertical-align: middle;
                
                svg {
                
                    width: 32px;
                    height: 32px;
                
                }
            
            }
        
        }
        
    }

}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {

    .photo {

        &.image {

            //@include aspect-ratio (100%, 100%);
            width: 80px;
            height: 80px;
            position: relative;
            margin-right: 20px;

        }
    }

}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {
    
    .photo {

        &.image {

            @include aspect-ratio (35%, 100%);
            margin: $baseline auto;
            height: auto;

        }
    }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {
    
    .photo {

        &.image {

            @include aspect-ratio (35%, 100%);
            margin: $baseline auto;
            height: auto;

        }
    }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {
    
    .photo {

        &.image {

            @include aspect-ratio (15%, 100%);
            margin: $baseline auto;
            height: auto;

        }
    }
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################