// 1. OBJECT [ 1.5. INPUTS: GENERAL ]  ################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. MENU LAYOUT ---------------------------------------------------------------------------------------------------

.menu {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    &.inline {
        
        li { display: inline-block; }
    } 
    
    &.stacked {
        
        li { display: block; }
    }
}

// A.1. END -----------------------------------------------------------------------------------------------------------

// A.2. BUTTONS -------------------------------------------------------------------------------------------------------

.button {

    font-size: $large;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 3px 10px $kd-grey90;
    text-align: center;
    padding: $baseline-small 0;
    display: block;
    box-sizing: border-box;
    
    &.text { box-shadow: none ; border-radius: 0; color: $black; }

    &.full      { display: block; width: 100%; }
    &.single    { display: block; width: 50%; margin: 0 auto; font-size: $medium; }
    &.small     { display: inline-block; width: auto; }
    &.flat      { background: $kd-grey20; }

    &.icon {

        min-width: 25px!important;
        min-height: 25px!important;
        line-height: 35px;
        padding: 0 10px;

    }
    
    &.blue { background: $kd-blueNavy; color: $black;
    
        &:hover,
        &.active { background: $kd-cyan; }
    }
}

// A.2. END -----------------------------------------------------------------------------------------------------------

// A.3. FORM FIELDS ---------------------------------------------------------------------------------------------------

select,
input[type='text'],
input[type='select'] {
    
    width: 100%!important;
    padding: $baseline-small 0!important;
    border: 0;
    text-indent: 10px;
    box-sizing: border-box;
    
    background: $white;
    border: 1px solid $kd-grey20;
    margin-bottom: $baseline-small;
}

.field__item { margin-bottom: 0; }

// A.3. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {

    .field__item { padding-right: 0; }

}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

    .field__item { padding-right: 0; }

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    .field__item { padding-right: $baseline-small; }

}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    .field-item { margin-right: $baseline-large; }

}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

    .field-item { margin-right: $baseline-large; }

}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################