// 2. SECTION [ 2.1. MASTHEAD ]  ######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. MASTHEAD ------------------------------------------------------------------------------------------------------

#masthead {

    .header {
    
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 60px;
        display: block;
        background: $kd-cyan;
        z-index: 5;
        vertical-align: top;
        
        .logo {
            
            margin: 0; display: inline-block;
            
            .logo__img { width: 100%; height: auto; }

            //display: inline-block;

        }

    }

    .nav {

        ul { margin: 0; padding: 0;

            li { list-style-type: none;

                a {

                    &.active,
                    &:hover { color: $white; text-decoration: none; background: $kd-blueDark; }
                }
            }
        }
    }
    
        
        .contact-number { 
            
            position: absolute; 
            top: $baseline;
            right: $baseline;
            font-family: 'SSP-semibold';
            list-style-type: none;
            color: $kd-purple;
            font-size: $medium;
        }


// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(feature) { 
        
        .logo { width: 70%; }
        
        .nav {
        
            @include position (fixed, 0); 
            transform: translateY(-100%); 
            z-index: 0;
            transition: 0.3s;
            background: $kd-cyan;
            
            ul {
                
                margin-top: $baseline-large;
                
                li { display: block; font-size: $medium;
                    
                    a { color: $white; 
                        outline: none; 
                        display: block; 
                        text-align: center;
                        padding: $baseline;
            }}}
            
            &.on { transform: translateY(0%); transition: 0.3s; }
            
        }
        
        .contact-number { display: none; }

    }

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(mobile) { 
        
        .logo { width: 70%; z-index: 1; position: relative; }
        
        .nav {
        
            @include position (fixed, 0); 
            transform: translateY(-100%); 
            z-index: 0;
            transition: 0.3s;
            background: $kd-cyan;
            
            ul {
                
                margin-top: $baseline-large;
                
                li { display: block; font-size: $medium;
                    
                    a { color: $white; 
                        outline: none; 
                        display: block; 
                        text-align: center;
                        padding: $baseline;
            }}}
            
            &.on { transform: translateY(0%); transition: 0.3s; }
            
        }
        
        .contact-number { display: none; }

    }

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(tablet) { 
        
        .logo { width: 300px; z-index: 1; position: relative; }
        
        .nav {
        
            @include position (fixed, 0); 
            transform: translateY(-100%); 
            z-index: 0;
            transition: 0.3s;
            background: $kd-cyan;
            
            ul {
                
                margin-top: $baseline-large;
                
                li { display: block; font-size: $medium;
                    
                    a { color: $white; 
                        outline: none; 
                        display: block; 
                        text-align: center;
                        padding: $baseline;
            }}}
            
            &.on { transform: translateY(0%); transition: 0.3s; }
            
        }
        
        .contact-number { display: none; }

    }

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk) { 

        .logo { width: 30%; }
        
        .nav {
        
            position: relative; display: inline-block; vertical-align: top;
            
            ul { 
                li { display: inline-block; font-size: $small;
                    
                    a { color: $white; 
                        outline: none; 
                        display: inline-block; 
                        vertical-align: middle; 
                        text-align: center;
                        padding: $baseline;
            }}}
            
        }
        
        .burger { display: none; }
        
        .contact-number { display: block; }

    }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk-wide) {
        
        .logo { width: 22%; }
        
        .nav {
        
            position: relative; display: inline-block; vertical-align: top;
            
            ul { 
                li { display: inline-block; font-size: $small;
                    
                    a { color: $white; 
                        outline: none; 
                        display: inline-block; 
                        vertical-align: middle; 
                        text-align: center;
                        padding: $baseline;
            }}}
            
        }
        
        .burger { display: none; }
        
        .contact-number { display: block; }
    }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// END OF FILE ########################################################################################################