// 2. SECTION [ 2.3. FOOTEND ]  #######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. FOOTEND -------------------------------------------------------------------------------------------------------

#footend {

    background: $kd-purple;
    padding: 60px 0;
    
    .search,
    .links {
        
        @extend .tablet--one-whole;
        
        .third { display: inline-block; color: $white; padding: 0; margin: 0 $baseline-small; 
        
            .header { color: $kd-grey40;}
            li { list-style-type: none; font-size: $small; }
        }
        
        span { font-size: $x-small; color: $white; padding: $baseline-small; display: block; opacity: 0.7;}
        p { font-size: $small; color: $white; padding: $baseline-small; display: block; opacity: 0.4;}
        
    }

    

// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) { 
    
    .social-media {
        
        margin: $baseline-medium 0;
        
        .figure__img { 
            
            width: 40%; margin: 0 auto;
        }
    }    
    
    .logo {
        
        .figure__img { 
            
            width: 60%; margin: 0 auto;
        }
    }
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) { 
    .field-item { width: 60%; margin: $baseline-small; }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) { 
        
    .field-item { width: 60%; margin: $baseline-small; }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) { 
    
    .search,
    .links { .third { width: 28%; }}

}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) { 
    
    .search,
    .links { .third { width: 28%; }}
    
        
    .field-item { width: 60%; }

}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// END OF FILE ########################################################################################################