// 2. SECTION [ 2.7. CONTACT ]  #######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. HOME ----------------------------------------------------------------------------------------------------------

.section-intro {
    
    // A.2. END -------------------------------------------------------------------------------------------------------
            
    .left__aside { margin-top: -$baseline-large;
    
        .wrapper { }
        
    }
    .right__aside { margin-top: $baseline;
    
        .wrapper { }
        
    }
    
    // A.2. END -------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) { 
            
    .left__aside { margin-top: 0; .wrapper { margin: $baseline-small; }}
    .right__aside { .wrapper { margin: $baseline-small; }}
    
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) { 
            
    .left__aside { margin-top: 0; .wrapper { margin: $baseline-small; }}
    .right__aside { .wrapper { margin: $baseline-small; }}
    
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) { 
            
    .left__aside { .wrapper { margin: $baseline-small; }}
    .right__aside { .wrapper { margin: $baseline-small; }}
    
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) { 
            
    .left__aside { .wrapper { margin-right: $baseline-small; }}
    .right__aside { .wrapper { margin-left: $baseline-small; }}
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) { 
            
    .left__aside { .wrapper { margin-right: $baseline; }}
    .right__aside { .wrapper { margin-left: $baseline; }}
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
}

// END OF FILE ########################################################################################################