// 2. SECTION [ 2.5. SERVICES ]  ######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.section-image {
    
    position: relative;
    margin-top: 60px;

    //A.1.1. main image

    .figure-pic {
    
        .figure__img { position: relative; right: 0; }
    
    }

    //A.1.2. Main text

    .front__text { 
        
        position: absolute; 
    
        h1 { color: $white; line-height: normal; }
        p { color: $white;  }
    
    }

    // A.1. End

 

// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) { 
    
     height: 300px;

    //A.1.1. main image

    .figure-pic {
        
        overflow: hidden;
        height: 300px;
        position: relative;
    
        .figure__img { width: auto; height: 300px; position: absolute; right: 0; transform: translateX(30%); }
    
    }

    //A.1.2. Main text 

    .front__text { width: auto; bottom: $baseline; left: $baseline; right: $baseline; padding: $baseline-small; 
    
        h1 { font-size: $large; }
        p { font-size: $normal; }
    
    }
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {
    
    height: 400px;

    //A.1.1. main image

    .figure-pic {
        
        overflow: hidden;
        height: 400px;
        position: relative;
    
        .figure__img { width: auto; height: 400px; position: absolute; right: 0; transform: translateX(30%); }
    
    }

    //A.1.2. Main text

    .front__text { width: auto; bottom: $baseline; left: $baseline; right: $baseline; padding: $baseline-small; 
    
        h1 { font-size: $large; }
        p { font-size: $normal; }
    
    }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    //A.1.1. main image

    .figure-pic { 
    
        .figure__img { width: 100%; height: auto; position: relative; right: 0; }
    
    }

    //A.1.2. Main text

    .front__text { width: auto; bottom: $baseline; left: $baseline; right: $baseline; padding: $baseline-small; 
    
        h1 { font-size: $x-large; }
        p { font-size: $normal; }
    
    }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    //A.1.1. main image

    .figure-pic { 
    
        .figure__img { width: 100%; height: auto; position: relative; right: 0; }
    
    }

    //A.1.2. Main text

    .front__text { width: 30%; bottom: $baseline-medium; left: $baseline-medium; padding: $baseline; 
    
        h1 { font-size: $xx-large; }
        p { font-size: $normal; }
    
    }
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

    //A.1.1. main image

    .figure-pic { 
    
        .figure__img { width: 100%; height: auto; position: relative; right: 0; }
    
    }

    //A.1.2. Main text

    .front__text { width: 30%; bottom: $baseline-large; left: $baseline-large; padding: $baseline; 
    
        h1 { font-size: $xxx-large; }
        p { font-size: $normal; }
    
    }

}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// END OF FILE ########################################################################################################