// 3. PAGE [ 3.2. WORK ]  #############################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. STRUCTURE -----------------------------------------------------------------------------------------------------

.page-work {
    
    // A.1. WORK LISTING PAGE
    
    .card__body { h2 { line-height: normal; height: 40%; } p { font-size: $small; }}
    
    // A.1. END
    
    // A.2. PROJECT DETAIL PAGE

    .project { 
        
        display: flex; flex-direction: row;
        
        .column-1 { display: flex; flex-direction: column; align-items: stretch; flex: 0 1 auto; }
        .column-2 { display: flex; flex-direction: row; flex-wrap: wrap; flex: 0 1 auto; }
        
        .row-1 { display: flex; flex-direction: row; }
        .row-2 { display: flex; flex-direction: row; }
    
        #start  { background: $kd-red; }
        #end    { background: $kd-red; }
        #info   { background: $kd-grey50; }
        
        .square { flex-basis: 0; flex-grow: 2; }
        .mobile { flex-basis: 0; flex-grow: 2; align-items: flex-start; img { width: 100%; height: auto; }}
        
        // A.1.1. CLIENT COLOURS
        
        &#tonplaygo { 
            #start {background: $kd-red; }
            #end {background: $kd-red; }
        }
        
        &#intelleapp { 
            #start {background: $kd-blueDark; }
            #end {background: $kd-yellowMid; }
        }
        
        &#stj { 
            #start {background: $kd-blueDark; span { color: $white; }}
            #end {background: $kd-goldDark; }
        }
        
        &#colourworks { 
            #start {background: $kd-maroon; }
            #end {background: $kd-cyan; }
        }
                
        &#usb { 
            #start {background: $kd-olive; }
            #end {background: $kd-burgundy; span { color: $white; }}
        }
                        
        &#usb-ed { 
            #start {background: $kd-olive; }
            #end {background: $kd-burgundy; span { color: $white; }}
        }
        
        &#navigator { 
            #start {background: $white; }
            #end {background: $kd-grey90; span { color: $white; }}
        }
                
        &#waterfront { 
            #start {background: $kd-yellow; }
            #end {background: $kd-blueNavy; span { color: $white; }}
        }
                        
        &#om { 
            #start {background: $kd-greenEmerald; span { color: $white; }}
            #end {background: $kd-greenEver; }
        }
                                
        &#capitec { 
            #start {background: $kd-maroonDark; span { color: $white; }}
            #end {background: $kd-blueNavy; span { color: $white; }}
        }
                                        
        &#vlc { 
            #start {background: $kd-maroonDark; }
            #end {background: $kd-maroonDark; span { color: $white; }}
        }
                                                
        &#mvbc { 
            #start {background: $white; }
            #end {background: $black; span { color: $white; }}
        }
        
        #end { text-align: right;}
        
        .square { 

            padding: $baseline-small $baseline; 

            &.big { padding: $baseline; background: $kd-grey50;

                h2 { font-size: $x-large; line-height: normal; padding: 0; margin: 0; }
                h3 { font-size: $normal; line-height: normal; }
                p { font-size: $small; line-height: normal; margin-top: $baseline-small; }
                li { font-size: $small; line-height: normal; }

            }
        }
    }
    
    // A.2. END
    
// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {

    #mast { padding-top: 80px; }
    
    .square { width: 100%; }

}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

    #mast { padding-top: 80px; }
    //.square { width: 50%; }

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    #mast { padding-top: 60px; }
    //.square { width: 33.33%; }

}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    #mast { padding-top: 0; }
    
    .project {
        
        .column-1 { width: 25%; }
        .column-2 { width: 75%; }
        .row-1 { .mobi { width: 50% }}
    }

}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

    #mast { padding-top: 0; }
    
    .project {
        
        .column-1 { width: 33.33%; }
        .column-2 { width: 66.66%; }
        .row-1 { .mobi { width: 33.33% }}
    }
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}
    
// END OF FILE ########################################################################################################